[project]
	description = Official QEMU mirror
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Juan Quintela (juanquintela)
[access "refs/for/refs/*"]
	read = group user/Juan Quintela (juanquintela)
	push = group user/Juan Quintela (juanquintela)
	label-Code-Review = -2..+2 group user/Juan Quintela (juanquintela)
	label-Verified = -1..+1 group user/Juan Quintela (juanquintela)
	rebase = group user/Juan Quintela (juanquintela)
	removeReviewer = group user/Juan Quintela (juanquintela)
	submit = group user/Juan Quintela (juanquintela)
[access "refs/heads/*"]
	read = group user/Juan Quintela (juanquintela)
	create = group user/Juan Quintela (juanquintela)
	push = +force group user/Juan Quintela (juanquintela)
	pushMerge = group user/Juan Quintela (juanquintela)
[access "refs/tags/*"]
	push = +force group user/Juan Quintela (juanquintela)
	pushTag = group user/Juan Quintela (juanquintela)
	pushSignedTag = group user/Juan Quintela (juanquintela)
